<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://googleapis.com" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
    <title>Gerenciador de Tarefas</title>
  </head>
  <body>
    <header class="header">
      <div class="top">
        <img
          id="taks-img"
          src="img/3d-to-do-list-icon-checklist-clipboard-suitable-for-organization-planning-and-task-tracking-ideal-for-business-education-and-administrative-concepts-png.webp"
          alt=""
        />
        <h1>TaskDay</h1>
      </div>
    </header>
    <main class="app-container">
      <header class="app-header">
        <h1 class="saudacao">Olá, Usuário!</h1>
      </header>

      <section class="card-tarefa">
        <form class="form-dados">
          <h2 class="titulo-form">Cadastrar Tarefa</h2>

          <div class="input-group">
            <input
              type="text"
              id="tarefa"
              class="input-tarefa"
              placeholder="Ex: Estudar programação..."
              required
            />
          </div>

          <button type="submit" id="btn-enviar" class="btn-enviar">
            Enviar Tarefa
          </button>
        </form>
      </section>

      <aside class="container-lista">
        <span id="tarefasFeitas"></span>
        <span id="tarefasFazer"></span>
      </aside>

      <section class="container-data">
        <ul id="lista" class="lista-tarefas"></ul>
      </section>
    </main>

    <script src="index.js"></script>
  </body>
</html>
